@import "variables";

@media(min-width: $desktop) {
    .sign-up{
        display: flex;
        justify-content: center;
        margin: 30px 70px 0px;


        .log-btn{
            transition: all 0.5s;
            padding:  10px 20px;
            border-radius: 10px;
            background-color: $secondary-color;
            color: $offWhite;
            text-decoration: none;
            border:  3px solid $primary-color;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }

        .log-btn:hover{
            background-color: $highlight-color;
            color: $secondary-color;
            border: 3px solid $secondary-color;
            text-shadow: 2px 2px 4px rgba(144, 134, 134, 0.5);
        }
    }
}