$primary-color:#4B6858;
$secondary-color:#9EADC8;
$highlight-color:#C6ECAE;
$accent-color:#7C606B;
$offWhite:#E8E8E8;

$primary-color-dark:darken($primary-color, 20%);
$secondary-color-dark:darken($secondary-color, 20%);
$highlight-color-dark:darken($highlight-color, 20%);
$accent-color-dark:darken($accent-color, 20%);

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;