@import "variables";

body{
    margin: auto;
    background-image: url('../images/background-one.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.7);
}

.Head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:$primary-color;
    width: 50vw;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


    .logo {
        position: absolute;
        height: 100px;
        width: auto;
        margin-top: -170px;
    }

    h1{
        margin-top: 50px;
        color: $offWhite;
        font-family:Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .nav-link{
        transition: transform 0.5s;
        display: inline-block;
        padding: 20px;
        color: $offWhite;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav-link:hover{
        color: $highlight-color;
        transform: scale(1.1);
    }
}

.scroll{
    margin: 30px auto;
    height: auto;
    max-width: 60vw;
    .card {
        margin: auto;
        margin-top: 30px;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-img{
            margin: auto;
            margin-top: 10px;
            width: 180px;
            height: auto;
        }
    }
    .overflow-auto{
        flex-wrap: nowrap;
        overflow-x: auto;
    }

}
